<% provide(:title,"Contact") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ruby on Rails tutorial Sample App</title>
</head>
<body class="content">
	<h1>About</h1>
	<p>
		Get contact on the Ruby on Rails Tutorial at the
		<a href="http://www.railstutorial.org/#contact">Rails Tutorial contact section</a>
		sample application.
	</p>
</body>
</html>