<% provide(:title,"Home") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ruby on Rails tutorial Sample App</title>
</head>
<body class="content">
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Wellcome to Sample App</h1>
			<p class="center">
				This is the home page for the
				<a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a>
				sample application.
			</p>

			</br>
		<p class="center">	<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %> </p>
			</div>	
		<%= link_to image_tag("rails.png", alt: "Rails logo", height: "200"), 'http://rubyonrails.org/' %>
	</div>
</body>
</html>



